# //npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@inkris-apps:registry=https://npm.pkg.github.com/
