# //npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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
# @inkris-apps:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
